amqp==5.1.1 ; python_version >= "3.8" and python_version < "3.12"
anyio==3.7.0 ; python_version >= "3.8" and python_version < "3.12"
backports-zoneinfo==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
backports-zoneinfo[tzdata]==0.2.1 ; python_version >= "3.8" and python_version < "3.9"
billiard==4.1.0 ; python_version >= "3.8" and python_version < "3.12"
cachetools==5.3.1 ; python_version >= "3.8" and python_version < "3.12"
celery==5.3.1 ; python_version >= "3.8" and python_version < "3.12"
certifi==2023.5.7 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==3.1.0 ; python_version >= "3.8" and python_version < "3.12"
click-didyoumean==0.3.0 ; python_version >= "3.8" and python_version < "3.12"
click-plugins==1.1.1 ; python_version >= "3.8" and python_version < "3.12"
click-repl==0.3.0 ; python_version >= "3.8" and python_version < "3.12"
click==8.1.3 ; python_version >= "3.8" and python_version < "3.12"
colorama==0.4.6 ; python_version >= "3.8" and python_version < "3.12" and platform_system == "Windows"
exceptiongroup==1.1.1 ; python_version >= "3.8" and python_version < "3.11"
google-auth==2.17.3 ; python_version >= "3.8" and python_version < "3.12"
idna==3.4 ; python_version >= "3.8" and python_version < "3.12"
kombu==5.3.1 ; python_version >= "3.8" and python_version < "3.12"
kubernetes==26.1.0 ; python_version >= "3.8" and python_version < "3.12"
more-itertools==9.1.0 ; python_version >= "3.8" and python_version < "3.12"
oauthlib==3.2.2 ; python_version >= "3.8" and python_version < "3.12"
prompt-toolkit==3.0.38 ; python_version >= "3.8" and python_version < "3.12"
pyasn1-modules==0.3.0 ; python_version >= "3.8" and python_version < "3.12"
pyasn1==0.5.0 ; python_version >= "3.8" and python_version < "3.12"
python-dateutil==2.8.2 ; python_version >= "3.8" and python_version < "3.12"
python-dotenv==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
pyyaml==6.0 ; python_version >= "3.8" and python_version < "3.12"
requests-oauthlib==1.3.1 ; python_version >= "3.8" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.12"
rsa==4.9 ; python_version >= "3.8" and python_version < "3.12"
setuptools==68.0.0 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
sniffio==1.3.0 ; python_version >= "3.8" and python_version < "3.12"
typing-extensions==4.6.3 ; python_version >= "3.8" and python_version < "3.12"
tzdata==2023.3 ; python_version >= "3.8" and python_version < "3.12"
urllib3==2.0.3 ; python_version >= "3.8" and python_version < "3.12"
vine==5.0.0 ; python_version >= "3.8" and python_version < "3.12"
wcwidth==0.2.6 ; python_version >= "3.8" and python_version < "3.12"
websocket-client==1.6.0 ; python_version >= "3.8" and python_version < "3.12"
